{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    数据库配置列表
{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'DbManage.css' %}">
{% endblock %}

{% block nav_active_db %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block db_title %}数据库列表{% endblock %}</div>
                    <div class="panel-body">
                        {% for db in db_list %}
                            <div class="db-list">
                                <h3>
                                    <a href="{% url 'get_db_cfg_detail' db.pk %}">
                                        {{ db.name }}
                                    </a>
                                </h3>
                            </div>
                        {% empty %}
                            <div class="db-list">
                                <h3>------暂未配置数据库------</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">数据库分类</div>
                    <div class="panel-body">
                        <ul class="db-manage-type">
                            {% for db_type in db_types %}
                                <li>
                                    <a href="{% url 'get_db_cfg_with_type' db_type.pk %}">
                                        {{ db_type.db_type_name }}
                                    </a>
                                </li>
                            {% empty %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
